h1 {
  color: white;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, #ff00ff, #000);
  background-size: 200% 200%;
  background-position: center center;
}
